
body{
    /*background-image: url(../Photos/shop3.jpg);*/
    background-position: center; 
    background-color: rgb(3, 29, 29);
}

h1{
    text-anchor: middle;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f8f5f5;
}

p{
    text-anchor: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f8f5f5;
}
section{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, "sans-serif";
    margin: 0px;
    display: inline-block;
}

.image img{
    display: inline-block;
    width: 22%;
    height: 250px;
    margin: 1%;
    border: thin double white;
}

.image img:hover{
    display: inline-block;
    width: 22%;
    height: 300px;
    margin: 1%;
    border: thick double rgb(196, 25, 25);
    border-radius: 10px;
    transition:0.8s
}

header {
   font-variant-caps: all-petite-caps;
    font-style: normal;
    width: 100%;
    text-align: center;
    background-color: blue;
    padding-bottom: 8px;
}

header a{
    padding: 2px 5px;
    background-color: rgb(48, 44, 44);
    font-size: large;
    margin: 3px 5px;
    color: cornsilk;
    border: thin solid;
    text-decoration: none;
}

ul{
    color: #f8f5f5;
    font-size: larger;
}

ul a{
    color: #f8f5f5;
}

footer{
    align-content: center;
    font-family: sans-serif;
    color: rgb(245, 230, 27);
    background-color: blue;
    padding: .5%;
}

footer div a{
    margin-top: 1%;
    color: white;
}

#content a{
    display: inline;
    text-decoration: none;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}